<% provide(:title, "Model #{@model.id}") %>

<h1><%= "#{@model.name}" %> </h1>

<h2><%= "Project #{@model.project_id}" %></h2>
<h2><%= @model.comment %></h2>

<div>
    <ul>
        <li><%= link_to "Go to project", project_path(id: @model.project_id) %></li>
        <li><%= link_to "Export logs", export_model_path(id: @model) %></li>
        <li><%= link_to "Edit model", "#editModal", data: {toggle: "modal", target: "#editModal"} %></li>
    </ul>
</div>

<%= render "layouts/experiments", experiments: @experiments %>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit model</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3 m-auto">
            <%= form_for(@model) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: @model.name %>
            <%= f.label :comment %>
            <%= f.text_field :comment, class: 'form-control', placeholder: @model.comment %>

            <%= f.submit "Update model", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
