
<% detailed_exp = Experiment.detailed_list(experiments) %>

<div class="mt-5">
    <%= line_chart detailed_exp.group_by(&:second).map{ |k,v| 
        {name: k, data: v.map{ |e,m,s| [e.id, s] }} 
    }, legend: "bottom" %>
</div>

<table class="table table-hover table-striped my-5">

  <thead>
    <tr>
        <th>ID</th>
        <th>Parameters</th>
        <th>Score</th>
        <th>Metric</th>
        <th>Updated</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% detailed_exp.each do |experiment,metric,score| %>
        <tr>
            <td><%= experiment.id %></td>
            <td><%= experiment.pretty_parameters %></td>
            <td><%= score.round(4) %></td>
            <td><%= metric %></td>
            <td><%= experiment.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
            <td><%= link_to "x", experiment, method: :delete, data: { confirm: "Delete experiment?" } %></td>
        </tr>
    <% end %>
  </tbody>
</table>