<%= line_chart experiments.sort_by(&:score).reverse.each_with_index.map{ |e,i| [e.id, e.score] } %>

<table class="table table-hover table-striped my-5">

  <thead>
    <tr>
        <th>ID</th>
        <th>Parameters</th>
        <th>Score</th>
        <th>Metric</th>
        <th>Updated</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% experiments.each do |experiment| %>
        <tr>
            <td><%= experiment.id %></td>
            <td><%= experiment.pretty_parameters %></td>
            <td><%= experiment.score.round(4) %></td>
            <td><%= experiment.metric %></td>
            <td><%= experiment.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
            <td><%= link_to "x", experiment, method: :delete, data: { confirm: "Delete experiment?" } %></td>
        </tr>
    <% end %>
  </tbody>
</table>