
<% experiments = Experiment.where(model_id: models.map(&:id).uniq) %>
<% model_names = models.map{ |m| [m.id, m.name] }.to_h %>

<div class="mt-5">
    <%= line_chart experiments.group_by(&:model_id).map{ |k,v| 
        {name: model_names[k], data: v.sort_by(&:score).reverse.each_with_index.map{ |e,i| [i, e.score] }} 
    }, legend: "bottom" %>
</div>


<table class="mt-5">
   <col width="100">
   <col width="300">
   <col width="400">
   <col width="150">
   <col width="150">

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Updated</th>
    <th>Delete</th>
  </tr>
    <% models.each do |model| %>
        <tr>
            <td><%= model.id %></td>
            <td><%= link_to model.name, model %></td>
            <td><%= model.comment.to_s.first(100) %></td>
            <td><%= model.updated_at.strftime("%m/%d/%Y %H:%M") %></td>
            <td><%= link_to "x", model, method: :delete, data: { confirm: "Delete model and its experiments?" } %></td>
        </tr>
    <% end %>
</table>